
@{
    Layout = null;
}

<html lang="es-MX" class="translated-ltr">
<head>
    <!-- <meta charset="utf-8" />
    <title> | Hyper - Responsive Bootstrap 5 Admin Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description" />
    <meta content="Coderthemes" name="author" />
    App favicon
    <link rel="shortcut icon" href="assets/images/favicon.ico"> -->

    <meta charset="utf-8">
    <title>Metrica - Plantilla de administración y panel de control</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta content="Premium Multipurpose Admin &amp; Dashboard Template" name="description">
    <meta content="" name="author">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- App favicon -->
    <link rel="shortcut icon" href="assets/images/favicon.ico">



    <!-- App css -->
    <link href="~/AssetsError/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="~/AssetsError/icons.min.css" rel="stylesheet" type="text/css">
    <link href="~/AssetsError/app.min.css" rel="stylesheet" type="text/css">

    <link type="text/css" rel="stylesheet" charset="UTF-8" href="https://translate.googleapis.com/translate_static/css/translateelement.css">
</head>

<body id="body" class="auth-page" style="background-image: url('../AssetsError/images/p-1.png'); background-size: cover; background-position: center center;" cz-shortcut-listen="true">
    <!-- Log In page -->
    <div class="container-md">
        <div class="row vh-100 d-flex justify-content-center">
            <div class="col-12 align-self-center">
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-5 mx-auto">
                            <div class="card">
                                <div class="card-body p-0 auth-header-box">
                                    <div class="text-center p-3">
                                        <a href="index.html" class="logo logo-admin">
                                            <img src="~/AssetsError/images/logo-removebg-preview.png" height="50" alt="logo" class="auth-logo">
                                        </a>
                                        <h2 class="mt-3 mb-1 fw-semibold text-white font-18" style="text-align: center;">¡UPS! Lo sentimos, la página no se encuentra</h2>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="ex-page-content text-center" style="text-align: center;">
                                        <img src="~/AssetsError/images/error.svg" alt="0" class="" height="180">
                                        <h1 class="mt-5 mb-4" style="text-align: center;">@ViewBag.Title!</h1>
                                        <h5 class="font-24 text-muted mb-5" style="text-align: center;">@ViewBag.Description</h5>
                                    </div>
                                    @*<a class="btn btn-primary w-100" href="index.html"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Volver al panel </font></font><i class="fas fa-redo ml-1"></i></a>*@
                                </div><!--end card-body-->
                                <div class="card-body bg-light-alt text-center">
                                    @*<font style="vertical-align: inherit;">
                                            <font style="vertical-align: inherit;">
                                                ©
                                            </font>
                                        </font>*@
                                    @*<script>
                                            document.write(new Date().getFullYear())
                                        </script><font style="vertical-align: inherit;">
                                            <font style="vertical-align: inherit;">
                                                2021 Métrica
                                            </font>*@
                                    @*</font>*@
                                </div><!--end card-body-->
                            </div><!--end card-->
                        </div><!--end col-->
                    </div><!--end row-->
                </div><!--end card-body-->
            </div><!--end col-->
        </div><!--end row-->
    </div><!--end container-->
    <!-- App js -->
    @*<script src="assets/js/app.js"></script><div id="goog-gt-tt" class="skiptranslate" dir="ltr"><div style="padding: 8px;"><div><div class="logo"><img src="https://www.gstatic.com/images/branding/product/1x/translate_24dp.png" width="20" height="20" alt="Google Traductor de Google"></div></div></div><div class="top" style="padding: 8px; float: left; width: 100%;"><h1 class="title gray">Texto original</h1></div><div class="middle" style="padding: 8px;"><div class="original-text"></div></div><div class="bottom" style="padding: 8px;"><div class="activity-links"><span class="activity-link">Sugiere una traducción mejor</span><span class="activity-link"></span></div><div class="started-activity-container"><hr style="color: #CCC; background-color: #CCC; height: 1px; border: none;"><div class="activity-root"></div></div></div><div class="status-message" style="display: none;"></div></div>*@



    <div class="goog-te-spinner-pos"><div class="goog-te-spinner-animation"><svg xmlns="http://www.w3.org/2000/svg" class="goog-te-spinner" width="96px" height="96px" viewBox="0 0 66 66"><circle class="goog-te-spinner-path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle></svg></div></div>
</body>
</html>